<nav class=" container navbar navbar-expand-lg  fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">U.T.V. & ICB Corona sponsorloop 2020</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#signin">Aanmelden</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#competition">Competitie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#introduction">Informatie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#runners">Deelnemers</a>
      </li>
    </ul>
  </div>
</nav>


