

<div class="container marketing">
  <div class="container">
    <hr class="featurette-divider">
      <div class="row mb-2">
      <h3>
        {{facebookData.content}}
      </h3>
      </div>
  </div>

  <hr class="divider">
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="alert alert-dark" role="alert">
          <h1 style="text-align: center;" class="display-4 font-italic">{{ getTotal() | currency: 'EUR' }}
            opgehaald</h1>
        </div>
        <countdown units="Days | Hours | Minutes | Seconds" end="June 15, 2020"></countdown>
      </div>
    </div>
  </div>

  <hr class="divider">
  <div class="container">
    <div id="signin">
      <div class="col-lg-12">
        <p class="lead">
          Vul je gegevens in via onderstaande link om je run te bevestigen.
        </p>
        <p><a class="btn btn-secondary" href="https://ingeniumcabobianci.nl/u-t-v-x-icb-corona-sponsorloop-2020/"> Naar
          het bevestigingsformulier »</a></p>
      </div>
    </div>
  </div>

  <hr class="divider">
  <div id="competition">
    <ng-container *ngFor="let competition of competitionData">
      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">{{competition.name}}</h2>
          <p class="lead">
            {{competition.description}}
          </p>
          <p>
            <ngb-progressbar type="primary"
                             [value]="(competition.actualAmountutv / competition.targetAmountutv ) * 100">{{competition.actualAmountutv}}
              UTV km
            </ngb-progressbar>
          </p>
          <p>
            <ngb-progressbar type="primary"
                             [value]="(competition.actualAmounticb / competition.targetAmounticb ) * 100">{{competition.actualAmounticb}}
              ICB km
            </ngb-progressbar>
          </p>
          <p>
            <ngb-progressbar type="primary"
                             [value]="(competition.actualAmountother / competition.targetAmountother ) * 100">{{competition.actualAmountother}}
              Overig km
            </ngb-progressbar>
          </p>
        </div>
      </div>
    </ng-container>
  </div>

  <hr class="divider">

  <div id="introduction" class="row">
    <div class="col-lg-6">
      <img class="rounded-circle"
           src="https://scontent-amt2-1.xx.fbcdn.net/v/t1.0-9/s960x960/95676349_2795420390493245_1661070385455562752_o.jpg?_nc_cat=105&_nc_sid=340051&_nc_ohc=Ek54-XMA7FwAX8TL8EV&_nc_ht=scontent-amt2-1.xx&_nc_tp=7&oh=ea3578f6e8cca62b0908a053361e7b2b&oe=5EE6FDB9"
           alt="Generic placeholder image" width="140" height="140">
      <h2>ICB & UTV Sponsorloop</h2>
      <p>Beste Leden en niet-Leden,
        De sportcommissies van beide verenigingen hebben gezamenlijk besloten om voor het goede doel een sponsorloop te
        organiseren. Hierbij willen wij graag middels individuele runs geld ophalen en het totaal bedrag doneren aan het
        goede doel wat zich inzet in de strijd tegen Corona!</p>
      <p><a class="btn btn-secondary" href="https://www.facebook.com/events/901047133674454" role="button">Ga naar
        facebook evenement »</a></p>
    </div>
    <div class="col-lg-6">
      <img class="rounded-circle" src="https://www.lumc.nl/images/logo.svg" alt="Generic placeholder image" width="140"
           height="140">
      <h2>Onderzoek vaccin Corona</h2>
      <p>Nieuwe behandelopties en de ontwikkeling van betere geneesmiddelen kunnen helpen om de verspreiding van het
        huidige coronavirus op korte termijn te beperken. Onderzoekers willen daarnaast meer diepgaande kennis opdoen
        over coronavirussen. Een belangrijk doel voor de middellange termijn is het ontwikkelen van remmers die actief
        zijn tegen grotere groepen
        verwante coronavirussen.

        Het LUMC bevindt zich op het Leiden Bio Science Park, waar samengewerkt wordt met diverse internationale
        bedrijven zoals Janssen Pharmaceutica, alsook met startups, waarbij gebruik gemaakt wordt van onze
        testfaciliteiten. Internationaal werken onze onderzoekers samen met verschillende Europese partners.</p>
      <p><a class="btn btn-secondary" href="https://www.lumc.nl/" role="button">Ga naar website LUMC »</a></p>
    </div>
  </div>

  <hr class="divider">

  <div id="runners">
    <h2>Deelnemers<br><br></h2>
    <ng-container *ngFor="let student of studentData">
      <div class="row featurette">
        <div class="col-md-7">
          <h4>{{student.name}}
            <ng-container *ngIf="student.amountRaised != null"><br/>{{student.amountRaised | currency: 'EUR' }}
            </ng-container>
            - {{student.actualAmount}} km
          </h4>
          <p class="lead">
            {{student.team}}
          </p>
          <p>
            {{student.description}}
          </p>
        </div>
        <div class="col-md-5">
          <img *ngIf="student.imageScr != null" src="{{student.imageScr}}" class="rounded float-left w-100" alt="">
        </div>
      </div>
      <hr class="divider">
    </ng-container>
  </div>
</div>
